@import "./vars.css";

.App {
    background-color: var(--color-bg);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.section {
    width: 100%;
    padding-top: var(--section-spacing);
    padding-bottom: var(--section-spacing);
}

.section:first-child {
    padding-top: 0;
}